In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
path = "/Users/wendy/Documents/DAI/second_round"
# change the working directory to the path where the data are located
os.chdir(path)
events = pd.read_csv('events_all.csv')

/Users/wendy/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
path = "/Users/wendy/Documents/DAI/second_round"
# change the working directory to the path where the data are located
os.chdir(path)
assets = pd.read_csv('assets_all.csv')

/Users/wendy/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
path = "/Users/wendy/Documents/DAI/first_round/assets"
# change the working directory to the path where the data are located
os.chdir(path)
assets_old = pd.read_csv('assets_all.csv')

/Users/wendy/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
assets1 = assets.fillna(assets_old)
assets2 = assets_old.fillna(assets)

In [56]:
assets_merge = pd.concat([assets1, assets2])

In [68]:
assets_merge1 = assets_merge.drop_duplicates(subset=['id'],keep='first')

In [60]:
assets_merge1.columns

Index(['Unnamed: 0', 'id', 'token_id', 'image_url', 'image_preview_url',
       'image_thumbnail_url', 'image_original_url', 'external_link',
       'num_sales', 'background_color', 'name', 'description', 'traits',
       'asset_address', 'asset_contract_type', 'created_date', 'asset_name',
       'owner', 'schema_name', 'owner_address', 'creator_adress', 'trait_type',
       'trait_value', 'collection_slug', 'art_blocks_section',
       'art_blocks_collection'],
      dtype='object')

In [70]:
assets_merge1.id = assets_merge1.id.astype(float)
#missing_assets.id = missing_assets.id.astype(float)

/Users/wendy/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [69]:
assets_merge1.groupby(['collection_slug']).count()

,Unnamed: 0,id,token_id,image_url,image_preview_url,image_thumbnail_url,image_original_url,external_link,num_sales,background_color,...,created_date,asset_name,owner,schema_name,owner_address,creator_adress,trait_type,trait_value,art_blocks_section,art_blocks_collection
collection_slug,,,,,,,,,,,,,,,,,,,,,
art-blocks,74971,74971,74971,74963,74963,74963,74964,74971,74971,722,...,74971,74971,7573,74971,74971,74971,50047,50047,66995,66995
autoglyphs,512,512,512,512,512,512,512,512,512,0,...,512,512,512,512,512,512,512,512,0,0
beeple-everydays,722,722,722,722,722,722,722,722,722,722,...,722,722,722,722,722,722,722,722,0,0
boredapeyachtclub,10000,10000,10000,10000,10000,10000,10000,3938,10000,0,...,10000,10000,10000,10000,10000,10000,10000,10000,0,0
cryptopunks,10001,10001,10001,10001,10001,10001,10001,10001,10001,0,...,10001,10001,670,10001,10001,10001,10001,10001,0,0
hashmasks,10053,10053,10053,10053,10053,10053,10053,10053,10053,0,...,10053,10053,10053,10053,10053,10053,10051,10051,0,0
makersplace,10148,10148,10148,10148,10148,10148,10148,10145,10148,0,...,10148,10148,10148,10148,10148,10148,10148,10148,0,0
rarible,10020,10020,10020,10020,10020,10020,10020,5823,10020,0,...,10020,10020,10020,10020,10020,10020,8904,8904,0,0
superrare,10080,10080,10080,10080,10080,10080,10080,10080,10080,0,...,10080,10080,10080,10080,10080,10080,10080,10080,0,0
wrapped-cryptopunks,1823,1823,1823,1823,1823,1823,1823,1823,1823,0,...,1823,1823,1823,1823,1823,1823,1299,1299,0,0

In [111]:
punk_traits = assets_merge1.loc[assets_merge1['collection_slug']=='cryptopunks'][['name','traits','trait_type','trait_value']]
punk_traits.to_csv('/Users/wendy/Documents/GitHub/UMAP/punk_traits.csv')

In [71]:
len(events)

417468

In [72]:
merged_data1 = events.merge(assets_merge1, how='inner', on=['id'])

In [73]:
merged_data_sc= merged_data1.loc[merged_data1['event_type']=='successful']

In [74]:
merged_data_sc.loc[np.isnan(merged_data_sc.total_price.astype(float))==False]

,Unnamed: 0_x,auction_type,collection_slug_x,contract_address,created_date_x,event_type,total_price,id,owner_x,token_id_x,...,asset_name,owner_y,schema_name,owner_address,creator_adress,trait_type,trait_value,collection_slug_y,art_blocks_section,art_blocks_collection
14,73440,NaN,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-03-01T17:39:29.454063,successful,92000000000000000000,23135447.0,NaN,3909,...,BoredApeYachtClub,34522873.0,ERC721,0x58daa27e7f2aebd1f0addb990fcbbe220533a088,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"Background,Eyes,Hat,Fur,Mouth","Orange,Bored,Cowboy Hat,Brown,Bored Cigarette",boredapeyachtclub,NaN,NaN
45,80142,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-08-04T12:48:14.455383,successful,13880000000000000000,23141765.0,BovedaOri,8337,...,BoredApeYachtClub,34522873.0,ERC721,0xaec600e4b4b662d74144845a1c6ee045728dbb52,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"Clothes,Fur,Mouth,Background,Hat,Eyes","Leather Punk Jacket,Cream,Rage,Blue,Fisherman'...",boredapeyachtclub,NaN,NaN
65,73503,NaN,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-02-24T13:58:58.464710,successful,82000000000000000000,23142988.0,NaN,9334,...,BoredApeYachtClub,34522873.0,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",boredapeyachtclub,NaN,NaN
66,74235,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-01-16T16:48:28.768141,successful,85000000000000000000,23142988.0,NaN,9334,...,BoredApeYachtClub,34522873.0,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",boredapeyachtclub,NaN,NaN
67,77886,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-08-28T17:24:20.386205,successful,63000000000000000000,23142988.0,NaN,9334,...,BoredApeYachtClub,34522873.0,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",boredapeyachtclub,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311315,397198,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:44:54.850131,successful,550000000000000000,62811395.0,urbutt,167000326,...,Art Blocks,NaN,ERC721,0x518944eb64b16a66a78ae5e6298ca8e321417fdc,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"Collant,Fluidité,Ballet,Rang,Ballerines,Mouvement","Jeté Entrelacé,Allongé,La Sylphide,Chassé,Ving...",art-blocks,playground,art-blocks
311316,397199,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:44:22.591998,successful,3000000000000000000,62812168.0,NaN,167000552,...,Art Blocks,NaN,ERC721,0x816b2d8dad051716a58271d484e5cc12fbf5096a,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"Collant,Ballerines,Rang,Ballet,Mouvement,Fluidité","Flic-Flac,Trente,Chassé,Le Lac des cygnes,Batt...",art-blocks,playground,art-blocks
311317,397200,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:43:51.498211,successful,1200000000000000000,62809709.0,NaN,167000042,...,Art Blocks,NaN,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"Fluidité,Mouvement,Collant,Rang,Ballerines,Ballet","Allongé,Balloné,Rivoltade,Coryphée,Cinquante,L...",art-blocks,playground,art-blocks
311318,397207,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:41:10.771120,successful,700000000000000000,62810591.0,NaN,167000177,...,Art Blocks,NaN,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"Ballerines,Fluidité,Collant,Ballet,Mouvement,Rang","Trente,Allongé,Fermé,La Sylphide,Battement Fon...",art-blocks,playground,art-blocks
311319,397208,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:41:09.799033,successful,1190000000000000000,62810116.0,NaN,167000104,...,Art Blocks,NaN,ERC721,0x668eb4a84dd6a8eb8cb99a5ca118e4ef1e4ccb04,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"Ballet,Fluidité,Mouvement,Ballerines,Collant,Rang","Le Lac des cygnes,Adagio,Battement Fondu,Vingt...",art-blocks,playground,art-blocks

In [75]:
merged_data1.columns

Index(['Unnamed: 0_x', 'auction_type', 'collection_slug_x', 'contract_address',
       'created_date_x', 'event_type', 'total_price', 'id', 'owner_x',
       'token_id_x', 'payment_tocken', 'token_usd_price', 'block_hash',
       'block_number', 'from_account', 'to_account', 'transaction_hash',
       'transaction_time', 'seller_address', 'seller_account',
       'winner_address', 'winner_account', 'Unnamed: 0_y', 'token_id_y',
       'image_url', 'image_preview_url', 'image_thumbnail_url',
       'image_original_url', 'external_link', 'num_sales', 'background_color',
       'name', 'description', 'traits', 'asset_address', 'asset_contract_type',
       'created_date_y', 'asset_name', 'owner_y', 'schema_name',
       'owner_address', 'creator_adress', 'trait_type', 'trait_value',
       'collection_slug_y', 'art_blocks_section', 'art_blocks_collection'],
      dtype='object')

In [85]:
merged_data1[merged_data1['collection_slug_y']=='art-blocks'].groupby(['art_blocks_section']).count()

,Unnamed: 0_x,auction_type,collection_slug_x,contract_address,created_date_x,event_type,total_price,id,owner_x,token_id_x,...,created_date_y,asset_name,owner_y,schema_name,owner_address,creator_adress,trait_type,trait_value,collection_slug_y,art_blocks_collection
art_blocks_section,,,,,,,,,,,,,,,,,,,,,
curated,101959,59885,101959,101912,101959,101959,14840,101959,78075,101959,...,101959,101959,22863,101959,101959,101959,82579,82579,101959,101959
factory,30714,14431,30714,30689,30714,30714,7891,30714,22479,30714,...,30714,30714,0,30714,30714,30714,15972,15972,30714,30714
playground,54749,39825,54749,54316,54749,54749,5715,54749,43353,54749,...,54749,54749,0,54749,54749,54749,34573,34573,54749,54749

In [78]:
merged_data1.to_csv('/Users/wendy/Documents/DAI/second_round/merged_data.csv')

In [90]:
data_clean = merged_data1[['auction_type', 'collection_slug_x', 'contract_address', 'created_date_x', 'event_type',
                          'total_price', 'id', 'payment_tocken', 'token_usd_price', 'to_account',
                          'transaction_time', 'seller_address', 'seller_account', 'winner_address',
                          'winner_account', 'image_url', 'image_preview_url', 'contract_address',
                          'image_thumbnail_url', 'image_original_url', 'external_link', 'asset_contract_type',
                          'num_sales','name','description', 'asset_name','schema_name',
                          'owner_address', 'creator_adress','traits', 'trait_type', 'trait_value','art_blocks_section']]

In [91]:
data_clean.rename(columns={'collection_slug_x':'collection_slug', 'created_date_x':'created_date'})

,auction_type,collection_slug,contract_address,created_date,event_type,total_price,id,payment_tocken,token_usd_price,to_account,...,name,description,asset_name,schema_name,owner_address,creator_adress,traits,trait_type,trait_value,art_blocks_section
0,NaN,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-03-06T21:18:19.813527,cancelled,77000000000000000000,23133559.0,ETH,2637.9,0x7f268357a8c2552623316e2562d90e642bb538e5,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
1,NaN,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-03-06T21:17:24.748949,cancelled,75000000000000000000,23133559.0,ETH,2637.9,0x7f268357a8c2552623316e2562d90e642bb538e5,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
2,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-02-14T02:55:57.162636,cancelled,111000000000000000000,23133559.0,ETH,2637.9,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
3,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-02-08T23:42:31.262725,cancelled,107000000000000000000,23133559.0,ETH,2637.9,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
4,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-01-23T01:16:51.027512,cancelled,103000000000000000000,23133559.0,ETH,2637.9,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311862,NaN,beatboxes-by-zeblocks,NaN,2021-08-30T06:11:05.192666,transfer,NaN,42103500.0,NaN,NaN,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Beatboxes #224,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x8d1c3018d6ec8dc3bfb8c85250787f0b4f745e43,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Shape dominance', 'value': 'H...","Shape dominance,Tempo,Lead,Light,Bass,Size,Bor...","Hexagon,Vivace,Regular,Static variable intensi...",playground
311863,NaN,beatboxes-by-zeblocks,NaN,2021-08-30T06:10:33.455764,transfer,NaN,42104057.0,NaN,NaN,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Beatboxes #597,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Bass boosted', 'value': 'True...","Bass boosted,Size,Shape dominance,Light,Bass,T...","True,Large,Semisphere,Static,Club,Andantino,Fa...",playground
311864,NaN,beatboxes-by-zeblocks,0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270,2021-08-28T19:22:53.569339,transfer,NaN,42104057.0,NaN,NaN,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Beatboxes #597,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Bass boosted', 'value': 'True...","Bass boosted,Size,Shape dominance,Light,Bass,T...","True,Large,Semisphere,Static,Club,Andantino,Fa...",playground
311865,NaN,beatboxes-by-zeblocks,NaN,2021-08-30T06:09:50.733440,transfer,NaN,42103989.0,NaN,NaN,0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270,...,Beatboxes #532,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x65ad743c3b253113af2d8cb311e35900cba18390,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Bass', 'value': 'Funky', 'dis...","Bass,Shape dominance,Light,Lead,Tempo,Bordered...","Funky,Semisphere,Static variable intensity,Med...",playground
311866,NaN,beatboxes-by-zeblocks,0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270,2021-08-28T19:22:09.902225,transfer,NaN,42103989.0,NaN,NaN,0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270,...,Beatboxes #532,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x65ad743c3b253113af2d8cb311e35900cba18390,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Bass', 'value': 'Funky', 'dis...","Bass,Shape dominance,Light,Lead,Tempo,Bordered...","Funky,Semisphere,Static variable intensity,Med...",playground

In [92]:
data_clean[data_clean['total_price'].isna()==True]

,auction_type,collection_slug_x,contract_address,created_date_x,event_type,total_price,id,payment_tocken,token_usd_price,to_account,...,name,description,asset_name,schema_name,owner_address,creator_adress,traits,trait_type,trait_value,art_blocks_section
5,dutch,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-03-06T18:07:51.785055,created,NaN,23133559.0,ETH,2616.99,NaN,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
6,dutch,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-03-06T17:10:14.999202,created,NaN,23133559.0,ETH,2616.99,NaN,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
7,dutch,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-02-17T21:22:53.837193,created,NaN,23133559.0,ETH,2616.99,NaN,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
8,dutch,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-02-13T18:35:24.748791,created,NaN,23133559.0,ETH,2616.99,NaN,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
9,dutch,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-02-08T18:39:22.044064,created,NaN,23133559.0,ETH,2616.99,NaN,...,Roses,Psychodelic Roses...allways a nice gift ^^,BoredApeYachtClub,ERC721,0xa7e384fb241993ca2fc48a8dd4716240a6b8c87a,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Eyes', 'value': 'Eyepatch', '...","Eyes,Fur,Mouth,Clothes,Background","Eyepatch,Tan,Bored Unshaven,Sailor Shirt,Yellow",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311862,NaN,beatboxes-by-zeblocks,NaN,2021-08-30T06:11:05.192666,transfer,NaN,42103500.0,NaN,NaN,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Beatboxes #224,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x8d1c3018d6ec8dc3bfb8c85250787f0b4f745e43,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Shape dominance', 'value': 'H...","Shape dominance,Tempo,Lead,Light,Bass,Size,Bor...","Hexagon,Vivace,Regular,Static variable intensi...",playground
311863,NaN,beatboxes-by-zeblocks,NaN,2021-08-30T06:10:33.455764,transfer,NaN,42104057.0,NaN,NaN,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Beatboxes #597,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Bass boosted', 'value': 'True...","Bass boosted,Size,Shape dominance,Light,Bass,T...","True,Large,Semisphere,Static,Club,Andantino,Fa...",playground
311864,NaN,beatboxes-by-zeblocks,0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270,2021-08-28T19:22:53.569339,transfer,NaN,42104057.0,NaN,NaN,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Beatboxes #597,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Bass boosted', 'value': 'True...","Bass boosted,Size,Shape dominance,Light,Bass,T...","True,Large,Semisphere,Static,Club,Andantino,Fa...",playground
311865,NaN,beatboxes-by-zeblocks,NaN,2021-08-30T06:09:50.733440,transfer,NaN,42103989.0,NaN,NaN,0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270,...,Beatboxes #532,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x65ad743c3b253113af2d8cb311e35900cba18390,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Bass', 'value': 'Funky', 'dis...","Bass,Shape dominance,Light,Lead,Tempo,Bordered...","Funky,Semisphere,Static variable intensity,Med...",playground
311866,NaN,beatboxes-by-zeblocks,0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270,2021-08-28T19:22:09.902225,transfer,NaN,42103989.0,NaN,NaN,0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270,...,Beatboxes #532,"Beatboxes are fully immersive, virtual reality...",Art Blocks,ERC721,0x65ad743c3b253113af2d8cb311e35900cba18390,0xb033daedca113b0386eb3e8f4c72c79fc50ae32e,"[{'trait_type': 'Bass', 'value': 'Funky', 'dis...","Bass,Shape dominance,Light,Lead,Tempo,Bordered...","Funky,Semisphere,Static variable intensity,Med...",playground

In [93]:
data_clean.loc[data_clean['event_type']=='successful']

,auction_type,collection_slug_x,contract_address,created_date_x,event_type,total_price,id,payment_tocken,token_usd_price,to_account,...,name,description,asset_name,schema_name,owner_address,creator_adress,traits,trait_type,trait_value,art_blocks_section
14,NaN,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-03-01T17:39:29.454063,successful,92000000000000000000,23135447.0,WETH,2613.52,0x7f268357a8c2552623316e2562d90e642bb538e5,...,Masked Honeybear,"Fnnch's honeybear, animated. [1/1]",BoredApeYachtClub,ERC721,0x58daa27e7f2aebd1f0addb990fcbbe220533a088,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Background', 'value': 'Orange...","Background,Eyes,Hat,Fur,Mouth","Orange,Bored,Cowboy Hat,Brown,Bored Cigarette",NaN
45,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-08-04T12:48:14.455383,successful,13880000000000000000,23141765.0,ETH,2616.99,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,𝙇𝙞𝙠𝙚 𝙋𝙪𝙧𝙚... (𝓐𝓯𝓽𝓮𝓻),"You've put it on your tongue, now the adventur...",BoredApeYachtClub,ERC721,0xaec600e4b4b662d74144845a1c6ee045728dbb52,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Clothes', 'value': 'Leather P...","Clothes,Fur,Mouth,Background,Hat,Eyes","Leather Punk Jacket,Cream,Rage,Blue,Fisherman'...",NaN
65,NaN,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-02-24T13:58:58.464710,successful,82000000000000000000,23142988.0,ETH,2616.99,0x7f268357a8c2552623316e2562d90e642bb538e5,...,Ξye of the creator...,always watching. \nderivation of my first self...,BoredApeYachtClub,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Mouth', 'value': 'Bored Unsha...","Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",NaN
66,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-01-16T16:48:28.768141,successful,85000000000000000000,23142988.0,ETH,2616.99,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Ξye of the creator...,always watching. \nderivation of my first self...,BoredApeYachtClub,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Mouth', 'value': 'Bored Unsha...","Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",NaN
67,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-08-28T17:24:20.386205,successful,63000000000000000000,23142988.0,ETH,2616.99,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Ξye of the creator...,always watching. \nderivation of my first self...,BoredApeYachtClub,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Mouth', 'value': 'Bored Unsha...","Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311315,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:44:54.850131,successful,550000000000000000,62811395.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Blaschke Ballet #326,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x518944eb64b16a66a78ae5e6298ca8e321417fdc,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Collant', 'value': 'Jeté Entr...","Collant,Fluidité,Ballet,Rang,Ballerines,Mouvement","Jeté Entrelacé,Allongé,La Sylphide,Chassé,Ving...",playground
311316,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:44:22.591998,successful,3000000000000000000,62812168.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Blaschke Ballet #552,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x816b2d8dad051716a58271d484e5cc12fbf5096a,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Collant', 'value': 'Flic-Flac...","Collant,Ballerines,Rang,Ballet,Mouvement,Fluidité","Flic-Flac,Trente,Chassé,Le Lac des cygnes,Batt...",playground
311317,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:43:51.498211,successful,1200000000000000000,62809709.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Blaschke Ballet #42,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Fluidité', 'value': 'Allongé'...","Fluidité,Mouvement,Collant,Rang,Ballerines,Ballet","Allongé,Balloné,Rivoltade,Coryphée,Cinquante,L...",playground
311318,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:41:10.771120,successful,700000000000000000,62810591.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Blaschke Ballet #177,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Ballerines', 'value': 'Trente...","Ballerines,Fluidité,Collant,Ballet,Mouvement,Rang","Trente,Allongé,Fermé,La Sylphide,Battement Fon...",playground
311319,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:41:09.799033,successful,1190000000000000000,62810116.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,Blaschke Ballet #104,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x668eb4a84dd6a8eb8cb99a5ca118e4ef1e4ccb04,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Ballet', 'value': 'Le Lac des...","Ballet,Fluidité,Mouvement,Ballerines,Collant,Rang","Le Lac des cygnes,Adagio,Battement Fondu,Vingt...",playground

In [94]:
from datetime import datetime
data_clean['transaction_time'] = pd.to_datetime(data_clean['transaction_time'])

/Users/wendy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [95]:
data_clean['transaction_time'].sort_values(ascending=True)

32209    2018-10-30 23:24:27
99425    2018-11-16 15:19:21
99424    2018-11-19 12:21:56
70336    2018-12-03 12:58:23
99423    2018-12-09 19:50:47
                 ...
311675                   NaT
311676                   NaT
311677                   NaT
311678                   NaT
311679                   NaT
Name: transaction_time, Length: 311867, dtype: datetime64[ns]

In [96]:
data_clean['total_price'].fillna('000000000000000000000', inplace = True)

/Users/wendy/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [97]:
data_clean.token_usd_price = data_clean['token_usd_price'].fillna(0)

/Users/wendy/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [98]:
data_clean.total_price = pd.to_numeric(data_clean['total_price'].astype(str).apply(lambda x: x[:-14]))/(1e+04)

In [99]:
data_clean['token_usd_price'] = pd.to_numeric(data_clean['token_usd_price'])

/Users/wendy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
data_clean['total_usd_price'] = data_clean['total_price']* data_clean['token_usd_price']

/Users/wendy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [101]:
data_clean.loc[data_clean['event_type']=='successful']

,auction_type,collection_slug_x,contract_address,created_date_x,event_type,total_price,id,payment_tocken,token_usd_price,to_account,...,description,asset_name,schema_name,owner_address,creator_adress,traits,trait_type,trait_value,art_blocks_section,total_usd_price
14,NaN,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-03-01T17:39:29.454063,successful,92.00,23135447.0,WETH,2613.52,0x7f268357a8c2552623316e2562d90e642bb538e5,...,"Fnnch's honeybear, animated. [1/1]",BoredApeYachtClub,ERC721,0x58daa27e7f2aebd1f0addb990fcbbe220533a088,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Background', 'value': 'Orange...","Background,Eyes,Hat,Fur,Mouth","Orange,Bored,Cowboy Hat,Brown,Bored Cigarette",NaN,240443.8400
45,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-08-04T12:48:14.455383,successful,13.88,23141765.0,ETH,2616.99,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,"You've put it on your tongue, now the adventur...",BoredApeYachtClub,ERC721,0xaec600e4b4b662d74144845a1c6ee045728dbb52,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Clothes', 'value': 'Leather P...","Clothes,Fur,Mouth,Background,Hat,Eyes","Leather Punk Jacket,Cream,Rage,Blue,Fisherman'...",NaN,36323.8212
65,NaN,boredapeyachtclub,0x7f268357a8c2552623316e2562d90e642bb538e5,2022-02-24T13:58:58.464710,successful,82.00,23142988.0,ETH,2616.99,0x7f268357a8c2552623316e2562d90e642bb538e5,...,always watching. \nderivation of my first self...,BoredApeYachtClub,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Mouth', 'value': 'Bored Unsha...","Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",NaN,214593.1800
66,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2022-01-16T16:48:28.768141,successful,85.00,23142988.0,ETH,2616.99,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,always watching. \nderivation of my first self...,BoredApeYachtClub,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Mouth', 'value': 'Bored Unsha...","Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",NaN,222444.1500
67,NaN,boredapeyachtclub,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-08-28T17:24:20.386205,successful,63.00,23142988.0,ETH,2616.99,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,always watching. \nderivation of my first self...,BoredApeYachtClub,ERC721,0x29ebe67bdff5f84d15c6a796fa9ab63375355625,0xaba7161a7fb69c88e16ed9f455ce62b791ee4d03,"[{'trait_type': 'Mouth', 'value': 'Bored Unsha...","Mouth,Eyes,Background,Fur,Clothes","Bored Unshaven,Wide Eyed,Blue,White,Vietnam Ja...",NaN,164870.3700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311315,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:44:54.850131,successful,0.55,62811395.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x518944eb64b16a66a78ae5e6298ca8e321417fdc,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Collant', 'value': 'Jeté Entr...","Collant,Fluidité,Ballet,Rang,Ballerines,Mouvement","Jeté Entrelacé,Allongé,La Sylphide,Chassé,Ving...",playground,1438.6625
311316,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:44:22.591998,successful,3.00,62812168.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x816b2d8dad051716a58271d484e5cc12fbf5096a,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Collant', 'value': 'Flic-Flac...","Collant,Ballerines,Rang,Ballet,Mouvement,Fluidité","Flic-Flac,Trente,Chassé,Le Lac des cygnes,Batt...",playground,7847.2500
311317,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:43:51.498211,successful,1.20,62809709.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Fluidité', 'value': 'Allongé'...","Fluidité,Mouvement,Collant,Rang,Ballerines,Ballet","Allongé,Balloné,Rivoltade,Coryphée,Cinquante,L...",playground,3138.9000
311318,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:41:10.771120,successful,0.70,62810591.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x65ba4f92d7dfa813ddbd849d9faf38a723dd9b12,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Ballerines', 'value': 'Trente...","Ballerines,Fluidité,Collant,Ballet,Mouvement,Rang","Trente,Allongé,Fermé,La Sylphide,Battement Fon...",playground,1831.0250
311319,NaN,blaschke-ballet-by-numbersinmotion,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,2021-09-30T19:41:09.799033,successful,1.19,62810116.0,ETH,2615.75,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,...,"Blaschke Ballet is a reflection on movement, c...",Art Blocks,ERC721,0x668eb4a84dd6a8eb8cb99a5ca118e4ef1e4ccb04,0xf565d79c35758c752d3debfdd380d4eb16a3c6e3,"[{'trait_type': 'Ballet', 'value': 'Le Lac des...","Ballet,Fluidité,Mouvement,Ballerines,Collant,Rang","Le Lac des cygnes,Adagio,Battement Fondu,Vingt...",playground,3112.7425

In [102]:
data_clean.to_csv('/Users/wendy/Documents/DAI/second_round/data_clean_new.csv')

In [58]:
data_clean = pd.read_csv('data_clean.csv')

/Users/wendy/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,8,12,13,14,15,21,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [60]:
eth_price = pd.read_csv('ETH-USD.csv')

In [61]:
eth_price['Date'] = pd.to_datetime(eth_price['Date'])

In [62]:
cols = eth_price.columns.drop('Date')
eth_price[cols] = eth_price[cols].astype(np.float16)

In [78]:
eth_price.reset_index(drop=True)

          Date      Open      High       Low     Close  Adj Close  Volume
0   2019-03-20   140.500   141.000   138.250   140.625    140.625     inf
1   2019-03-21   140.500   141.000   135.875   136.625    136.625     inf
2   2019-03-22   136.500   138.750   136.250   137.125    137.125     inf
3   2019-03-23   137.000   139.375   136.875   138.250    138.250     inf
4   2019-03-24   138.375   138.375   136.375   137.000    137.000     inf
..         ...       ...       ...       ...       ...        ...     ...
830 2021-06-27  1831.000  1980.000  1811.000  1979.000   1979.000     inf
831 2021-06-28  1981.000  2140.000  1964.000  2080.000   2080.000     inf
832 2021-06-29  2084.000  2242.000  2076.000  2160.000   2160.000     inf
833 2021-06-30  2164.000  2282.000  2090.000  2274.000   2274.000     inf
834 2021-07-01  2274.000  2274.000  2082.000  2114.000   2114.000     inf

[835 rows x 7 columns]

In [95]:
from datetime import datetime
price_correct_data = data_clean[['transaction_time', 'token_usd_price','event_type','total_price']]
price_correct_data['transaction_time'] = pd.to_datetime(price_correct_data['transaction_time'])
price_correct_data['Date'] = price_correct_data['transaction_time'].dt.to_period('D')
price_correct_data.reset_index(drop=True)

<ipython-input-95-27042d5d839a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_correct_data['transaction_time'] = pd.to_datetime(price_correct_data['transaction_time'])
<ipython-input-95-27042d5d839a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_correct_data['Date'] = price_correct_data['transaction_time'].dt.to_period('D')

,transaction_time,token_usd_price,event_type,total_price,Date
0,2021-06-24 18:06:02,2123.84,successful,18.15,2021-06-24
1,2021-03-16 21:27:23,2410.38,bid_withdrawn,70.00,2021-03-16
2,2021-06-24 15:40:43,2327.16,cancelled,18.50,2021-06-24
3,2021-06-24 15:40:43,2327.16,cancelled,23.75,2021-06-24
4,2021-05-20 03:45:09,2327.16,cancelled,16.50,2021-05-20
...,...,...,...,...,...
297626,2021-04-02 01:42:19,0.00,transfer,0.00,2021-04-02
297627,2021-04-02 01:35:12,0.00,transfer,0.00,2021-04-02
297628,2021-04-02 01:27:49,0.00,transfer,0.00,2021-04-02
297629,2021-04-02 01:24:14,0.00,transfer,0.00,2021-04-02
297630,2021-04-02 01:22:09,0.00,transfer,0.00,2021-04-02

In [83]:
eth_price['Date'] = eth_price['Date'].dt.to_period('D')

In [96]:
matching_price = price_correct_data.merge(eth_price, how='left', on ='Date')

In [98]:
use = matching_price[matching_price['Date']> '2021-06-24']

In [102]:
use[use['event_type']=='successful']

,transaction_time,token_usd_price,event_type,total_price,Date,Open,High,Low,Close,Adj Close,Volume
924,2021-07-01 12:06:43,2149.33,successful,0.70,2021-07-01,2274.0,2274.0,2082.0,2114.0,2114.0,inf
926,2021-07-01 11:55:35,2149.33,successful,0.29,2021-07-01,2274.0,2274.0,2082.0,2114.0,2114.0,inf
929,2021-07-01 11:51:53,2142.96,successful,0.60,2021-07-01,2274.0,2274.0,2082.0,2114.0,2114.0,inf
930,2021-07-01 11:51:03,2149.33,successful,0.25,2021-07-01,2274.0,2274.0,2082.0,2114.0,2114.0,inf
934,2021-07-01 11:40:06,2142.96,successful,1.75,2021-07-01,2274.0,2274.0,2082.0,2114.0,2114.0,inf
...,...,...,...,...,...,...,...,...,...,...,...
153102,2021-06-25 14:41:35,2149.33,successful,15.25,2021-06-25,1989.0,2018.0,1794.0,1813.0,1813.0,inf
153108,2021-06-25 14:18:29,2149.33,successful,18.00,2021-06-25,1989.0,2018.0,1794.0,1813.0,1813.0,inf
153112,2021-06-25 13:12:54,2149.33,successful,51.90,2021-06-25,1989.0,2018.0,1794.0,1813.0,1813.0,inf
153120,2021-06-25 12:29:17,2149.33,successful,50.00,2021-06-25,1989.0,2018.0,1794.0,1813.0,1813.0,inf
153133,2021-06-25 00:22:12,2149.33,successful,21.70,2021-06-25,1989.0,2018.0,1794.0,1813.0,1813.0,inf

In [104]:
data_clean['token_usd_price'] = matching_price['Close']

In [106]:
data_clean['total_usd_price'] = data_clean['total_price']* data_clean['token_usd_price']

In [108]:
data_clean

,Unnamed: 0,Unnamed: 0.1,auction_type,collection_slug_x,created_date_x,event_type,id,total_price,payment_tocken,token_usd_price,...,name,description,asset_name,schema_name,owner_address,creator_adress,traits,trait_type,trait_value,total_usd_price
0,0,0,NaN,beeple-everydays,2021-06-24 18:06:32.586448,successful,17219488,18.15,ETH,1988.0,...,INTO THE ETHER #48/207,Into the Ether - Open Edition:\r\nDAY #4917 of...,Beeple Round 2 Open Edition,ERC721,0x3be89b64e1437bb18da2d26bcbe9bd3daaadfc26,0xc6b0562605d35ee710138402b878ffe6f2e23807,[],[],[],36082.2
1,1,1,NaN,beeple-everydays,2021-03-16 21:27:32.800972,bid_withdrawn,17219488,70.00,WETH,1807.0,...,INTO THE ETHER #48/207,Into the Ether - Open Edition:\r\nDAY #4917 of...,Beeple Round 2 Open Edition,ERC721,0x3be89b64e1437bb18da2d26bcbe9bd3daaadfc26,0xc6b0562605d35ee710138402b878ffe6f2e23807,[],[],[],126490.0
2,2,2,NaN,beeple-everydays,2021-06-24 15:41:06.373570,cancelled,17219488,18.50,ETH,1988.0,...,INTO THE ETHER #48/207,Into the Ether - Open Edition:\r\nDAY #4917 of...,Beeple Round 2 Open Edition,ERC721,0x3be89b64e1437bb18da2d26bcbe9bd3daaadfc26,0xc6b0562605d35ee710138402b878ffe6f2e23807,[],[],[],36778.0
3,3,3,NaN,beeple-everydays,2021-06-24 15:41:06.411054,cancelled,17219488,23.75,ETH,1988.0,...,INTO THE ETHER #48/207,Into the Ether - Open Edition:\r\nDAY #4917 of...,Beeple Round 2 Open Edition,ERC721,0x3be89b64e1437bb18da2d26bcbe9bd3daaadfc26,0xc6b0562605d35ee710138402b878ffe6f2e23807,[],[],[],47215.0
4,4,4,NaN,beeple-everydays,2021-05-20 03:45:36.767955,cancelled,17219488,16.50,ETH,2784.0,...,INTO THE ETHER #48/207,Into the Ether - Open Edition:\r\nDAY #4917 of...,Beeple Round 2 Open Edition,ERC721,0x3be89b64e1437bb18da2d26bcbe9bd3daaadfc26,0xc6b0562605d35ee710138402b878ffe6f2e23807,[],[],[],45936.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297626,297626,297626,NaN,superrare,2021-04-02 01:42:49.360482,transfer,21049184,0.00,NaN,2144.0,...,BLerKCHAIN MAMA,this is an important piece. turn up duh volume,SuperRare,ERC721,0x5fae9d4b591f213b3ba75287f2cfac0883d17f7a,0x5fae9d4b591f213b3ba75287f2cfac0883d17f7a,"[{'trait_type': 'tag', 'value': 'animation', '...","['tag', 'tag', 'tag', 'tag', 'tag', 'tag', 'ye...","['animation', 'gan', 'vaporwave', 'audioreacti...",0.0
297627,297627,297627,NaN,superrare,2021-04-02 01:35:23.673199,transfer,21048361,0.00,NaN,2144.0,...,Hope,3D illustration.\nCollaboration between\nSalom...,SuperRare,ERC721,0x62247532f72dce05d7bca9f1a6d778c91a00054c,0x46bb3570c680ae05ae806c82278aa6d47944f9bb,"[{'trait_type': 'year_created', 'value': '2020...","['year_created', 'tag', 'tag', 'tag', 'tag', '...","['2020', 'scifi', 'cgi', '3d', 'illustration',...",0.0
297628,297628,297628,NaN,superrare,2021-04-02 01:29:34.355721,transfer,21048361,0.00,NaN,2144.0,...,Hope,3D illustration.\nCollaboration between\nSalom...,SuperRare,ERC721,0x62247532f72dce05d7bca9f1a6d778c91a00054c,0x46bb3570c680ae05ae806c82278aa6d47944f9bb,"[{'trait_type': 'year_created', 'value': '2020...","['year_created', 'tag', 'tag', 'tag', 'tag', '...","['2020', 'scifi', 'cgi', '3d', 'illustration',...",0.0
297629,297629,297629,NaN,superrare,2021-04-02 01:25:13.534362,transfer,19934185,0.00,NaN,2144.0,...,Maiden at rest,"The mechanical maiden rests, her form incomple...",SuperRare,ERC721,0xd33126c05a372feab036612f6d4934e9d85cb205,0x47732130965ffcd674515dc2442236003eab7637,"[{'trait_type': 'artist', 'value': 'Dick Gillm...","['artist', 'tag', 'tag', 'tag', 'tag', 'year_c...","['Dick Gillman', 'machine', 'bronze', 'mechani...",0.0
297630,297630,297630,NaN,superrare,2021-04-02 01:22:20.260642,transfer,20430048,0.00,NaN,2144.0,...,秋 Aki,"""In Srping I always remember Autumn""\n-Created...",SuperRare,ERC721,0xf1f3c8f03ace7330fd1c02565f41bdd9cb621dfe,0xf454c8ba5fa7b98a7b24bfc9c4e99e10ec02d50c,"[{'trait_type': 'tag', 'value': '3dart', 'disp...","['tag', 'tag', 'tag', 'tag', 'tag', 'tag', 'ta...","['3dart', '3d', 'loop', 'water', 'tree', 'japa...",0.0

In [109]:
data_clean.to_csv('/Users/wendy/Documents/NFT data collection/data_clean_close.csv')